Repository allnes/parallel_programming_course, changes with the labels that .github/labeler.yml gives for each.
All labels: task:all, task:mpi, task:omp, task:seq, task:stl, task:tbb, task, ci, modules:performance, modules:runners, modules:task, modules:util, 3rdparty, infrastructure, python, docs, scoreboard

Add microprofile integration for performance profiling
  .github/workflows/perf.yml
  .gitmodules
  CMakeLists.txt
  README.md
  cmake/ppc_profiler.cmake
  modules/common/include/microprofile.config.h
  modules/util/include/perf_test_util.hpp
  scripts/generate_perf_results.sh
  scripts/scoreboard_index.py
  tasks/CMakeLists.txt
Labels: task, ci, modules:util, infrastructure, docs

remove performance module tests and refactor utility includes
  .gitmodules
  CMakeLists.txt
  cmake/benchmark.cmake
  modules/performance/include/performance.hpp
  modules/performance/tests/perf_tests.cpp
  modules/util/include/perf_test_util.hpp
  modules/util/include/perf_time_util.hpp
  modules/util/src/func_test_util.cpp
  scoreboard/main.py
  scripts/run_tests.py
  tasks/CMakeLists.txt
  tasks/common/runners/performance.cpp
  tasks/example_processes/tests/performance/main.cpp
  tasks/example_processes_2/tests/performance/main.cpp
  tasks/example_processes_3/tests/performance/main.cpp
  tasks/example_threads/tests/performance/main.cpp
Labels: task, modules:performance, modules:util, infrastructure, scoreboard

remove scoreboard tests and related templates
  docs/common_information/points.rst
  docs/common_information/report.rst
  docs/locale/ru/LC_MESSAGES/common_information/points.po
  scoreboard/README.md
  scoreboard/builder.py
  scoreboard/data_loader.py
  scoreboard/html_renderer.py
  scoreboard/main.py
  scoreboard/metrics.py
  scoreboard/static/main.css
  scoreboard/static/variant.js
  scoreboard/templates/index.html.j2
  scoreboard/templates/index_menu.html.j2
  scoreboard/templates/menu_index.html.j2
  scoreboard/templates/processes.html.j2
  scoreboard/templates/processes_table.html.j2
  scoreboard/templates/threads_table.html.j2
  scoreboard/templates/variants.html.j2
  scoreboard/tests/conftest.py
  scoreboard/tests/requirements.txt
  scoreboard/tests/test_calculate_performance_metrics.py
  scoreboard/tests/test_check_plagiarism.py
  scoreboard/tests/test_discover_tasks.py
  scoreboard/tests/test_get_solution_points_and_style.py
  scoreboard/tests/test_load_performance_data.py
  setup.cfg
  tasks/example_processes/info.json
  tasks/example_processes_2/info.json
  tasks/example_processes_3/info.json
  tasks/example_threads/info.json
  tasks/example_threads/tests/functional/main.cpp
Labels: task, infrastructure, python, docs, scoreboard

localize scoreboard templates and introduce centralized text constants
  scoreboard/README.md
  scoreboard/html_renderer.py
  scoreboard/main.py
  scoreboard/static/main.css
  scoreboard/static/variant.js
  scoreboard/templates/index_menu.html.j2
  scoreboard/templates/processes_table.html.j2
  scoreboard/templates/threads_table.html.j2
  scoreboard/templates/variants.html.j2
  scoreboard/texts.py
Labels: scoreboard

remove scoreboard builder, related data files, and metrics module
  scoreboard/README.md
  scoreboard/builder.py
  scoreboard/data/copying.json
  scoreboard/data/copying.yml
  scoreboard/data/deadlines.json
  scoreboard/data/deadlines.yml
  scoreboard/data/points-info.json
  scoreboard/data/points-info.yml
  scoreboard/data_loader.py
  scoreboard/html_renderer.py
  scoreboard/main.py
  scoreboard/metrics.py
  scoreboard/requirements.txt
  scoreboard/scoreboard.py
  scoreboard/student.py
  scoreboard/tasks.py
  scoreboard/templates/processes_table.html.j2
  scoreboard/templates/threads_table.html.j2
Labels: python, scoreboard

normalize group names and add validation for process tasks in scoreboard
  scoreboard/main.py
  scoreboard/scoreboard.py
  scoreboard/static/variant.js
  scoreboard/templates/processes_table.html.j2
  scoreboard/templates/variants.html.j2
Labels: scoreboard

use display_name for tasks and update related logic in scoreboard templates and scripts
  scoreboard/html_renderer.py
  scoreboard/main.py
  scoreboard/scoreboard.py
  scoreboard/static/variant.js
  scoreboard/tasks.py
  scoreboard/templates/processes_table.html.j2
  scoreboard/templates/threads_table.html.j2
  scoreboard/templates/variants.html.j2
Labels: scoreboard

.github/labeler.yml:

'task:all':
  - "tasks/**/all"
'task:mpi':
  - "tasks/**/mpi"
'task:omp':
  - "tasks/**/omp"
'task:seq':
  - "tasks/**/seq"
'task:stl':
  - "tasks/**/stl"
'task:tbb':
  - "tasks/**/tbb"
task:
  - "tasks/**"
ci:
  - ".github/**"
  - "appveyor.yml"
'modules:performance':
  - "modules/performance/**"
'modules:runners':
  - "modules/runners/**"
'modules:task':
  - "modules/task/**"
'modules:util':
  - "modules/util/**"
3rdparty:
  - "3rdparty/**"
infrastructure:
  - "scripts/**"
  - "**/CMakeLists.txt"
  - "cmake/**"
  - ".clang-format"
  - ".clang-tidy"
  - ".gitignore"
  - ".gitmodules"
  - "codecov.yml"
  - "setup.cfg"
python:
  - "**/requirements.txt"
docs:
  - "docs/**"
  - "README.md"
scoreboard:
  - "scoreboard/**"
